@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Anton&family=Anton+SC&family=New+Amsterdam&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Rakkas&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bungee+Tint&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

:root {
    --font:#918e8e;
    --font2:#D92B4B;
    --font3:#D977D2;
    --font4:#F28729;
    --font5:#730D1F;
    --letra: 'Oswald';
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: white;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
}

main {
 height: 100vh;
 width: 100vw;
}

header {
    color: red;
    display: flex;
    justify-content: flex-end;
    font-weight: bolder;
    font-size: 22px;

}

h2 {
 color: white;

}

ul {
  display: inline-block;
  padding: 10px; 

}

li {
  float: right;
  position: relative;
  margin-right: 15px;
  margin-top: 4px;
  list-style-type: none;
}

header ul:hover {
   background-color: var(--font2);
   color: white;
   transition-duration: .4s;

}

img {
    border-radius: 50%;
    margin-left: 30px;
    max-width: 100%; /* Assegura que a imagem não transborde */
    height: auto;
}

.flex {
  display: flex;
  align-items: flex-start;
  margin-top: 50px;
}

h1 {
  color-interpolation-filters: white;
  font-size: 60px;
  color: #dd3f5c;
  text-align: center;
  font-family: "Bungee Tint", sans-serif;
  font-weight: 400;
  font-style: normal;
}

h2 {
  text-align: center;
  margin-top: 10px;
  color:var(--font2);
  font-family: "Bungee Tint", sans-serif;
  font-size: 32px;
}

p {
  font-family: Arial, Helvetica, sans-serif, bolder;
  color: black;
  font-size: auto
}

#conteudo {

  padding: 10px;
  border-radius: 10px;
  margin-right: 50px;
  flex-wrap: wrap;
  display: flex;
}

section {
  margin-top: 10px;
} 

#Linguagem {
  text-align: center;
  margin-top: 20px;
}

.imagens {
  display: flex;
  justify-content: center; /* Centraliza horizontalmente as imagens */
  align-items: center; /* Alinha as imagens verticalmente */
  gap: 20px; /* Espaçamento entre as imagens */
  margin-top: 10px; /* Espaçamento entre o texto e as imagens */
}

.imagens img {
  max-width: 100px; /* Controla o tamanho das imagens */
  height: auto;
}

#projeto1 {
  background-color: white;
  box-shadow: 0px 0px 5px black;
  box-sizing: border-box;
  padding: 10px;
  width: 80%;
  height: auto;
  border-radius: 12px; 
  margin: 0 auto;
  margin-top: 10px;
  display: flex;
  align-items: center;
  gap: 20px;
  flex-direction: column;
  text-align: center;  
  margin-bottom: 20px;
}

#foto-projeto {
  width:90%;
  border-radius: 0;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  height: auto;
}

#projeto1 > h2 {
  font-size: 42px;
}
 
#projeto1 > p {
  font-family: var(--letra);
  color: black;
  font-size: larger;

}

#projeto1 > a {
  color: black;
  font-size: larger;
  font-size: 24px;
}

#projeto1 > a:hover {
   color: red;
}

